fastapi==0.111.0
uvicorn==0.23.1
pydantic==2.6.0
python-multipart>=0.0.7
requests==2.31.0
sqlalchemy==2.0.44
passlib[bcrypt]==1.7.4
deep-translator==1.11.4
transformers
accelerate
python-jose[cryptography]
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
sqlalchemy